<p id="notice"><%= notice %></p>
<%unless @user.nil?%>
<p>
  <b>Email address</b>
  <%= @user.email_address %> <br />
  <b>Persons</b>
<%unless @persons.empty?%>
<table>
	<tr style="background-color: yellow;">
		<td>Name</td>
		<td>Email</td>
		<td>Gender</td>
		<td>Type</td>
	</tr>
	<body>
<%@persons.each do |person|%>
<tr>
	<td><%=person.full_name%></td>
	<td><%=person.email%></td>
	<td><%=person.gender%></td>
	<td><%=person.person_type%></td>
</tr>    
<%end%>
</body>
</table>
<%end%>
</p>
<%end%>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
